body {
  background: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );
}

h1 {
  text-align: center;
  color: #a04e35;
  border: black;
  border-color: black;
  font-family: "Sacramento", cursive;
  font-size: 60px;
  margin-bottom: 5px;
  padding: 10px;
}

h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  border: 5px solid #a04e35;
  border-style: double;
  padding: 15px;
  width: 550px;
  font-size: 32px;
  font-family: "Sacramento", cursive;
  font-weight: 35;
  border-radius: 45px;
  border-color: #a04e35;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 25px;
  border-style: double;
  border: 2px solid #a04e35;
}

#clothes2 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
  margin-top: -3px !important;
}

#clothes3 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
  margin-top: -3px !important;
}

#clothes4 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
  margin-top: -3px !important;
}

p {
  line-height: 1.5;
  font-size: 30px;
  font-family: "Sacramento", cursive;
  margin: 20px 0 10px;
  text-align: center;
}

.place-button {
  display: block;
  margin: auto;
  background: #6d3500;
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
  transition: all 200ms ease-in-out;
}

.place-button:hover {
  color: #6d3500;
  background: white;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

.first {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.first:hover {
  opacity: 1;
  cursor: pointer;
}

.information {
  color: #522800 !important;
  text-decoration: none !important;
  font-size: 26px;
  font-weight: bold !important;
  font-family: "Sacramento", cursive;
  text-align: center;
}

.cotton {
  color: #522800 !important;
  text-decoration: none !important;
  font-size: 26px;
  font-weight: bold !important;
  font-family: "Sacramento", cursive;
  text-align: center;
}

.cotton:hover {
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}

.mine {
  text-align: center;
  color: #522800 !important;
  text-decoration: none !important;
  font-family: "Sacramento", cursive;
  font-size: 20px;
}

#link {
  text-align: center;
  color: #522800 !important;
  text-decoration: none !important;
  font-family: "Sacramento", cursive;
  font-size: 20px;
}

#link:hover {
  text-align: center;
  color: #522800 !important;
  text-decoration: none !important;
  font-family: "Sacramento", cursive;
  font-size: 25px;
}
