body {
  background: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );
}

h1 {
  text-align: center;
  color: #a04e35;
  border: black;
  border-color: black;
  font-family: "Sacramento", cursive;
  font-size: 60px;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  border: 3px solid #a04e35;
  border-style: dotted;
  padding: 15px;
  font-size: 32px;
  font-family: "Sacramento", cursive;
  font-weight: 35;
  border-radius: 45px;
  border-color: #a04e35;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 25px;
  border-style: dotted;
  border: 1px solid #a04e35;
}

#clothes2 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
}

#clothes3 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
}

#clothes4 {
  width: 300px;
  height: 370px;
  margin-right: -165px;
}

p {
  line-height: 1.5;
  font-size: 30px;
  font-family: "Sacramento", cursive;
  margin: 20px 0 10px;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  background: #6d3500;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
  transition: all 200ms ease-in-out;
  font-family: "Sacramento", cursive;
}

button:hover {
  color: #6d3500;
  background: white;
  cursor: pointer;
  font-family: "Sacramento", cursive;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

.first {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.first:hover {
  opacity: 1;
  cursor: pointer;
}

.cotton {
  color: #522800;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-family: "Sacramento", cursive;
}

.cotton:hover {
  text-decoration: underline;
  font-weight: bold;
  font-family: "Sacramento", cursive;
}

.footer {
  text-align: center;
  color: #522800;
  text-decoration: none;
  font-family: "Sacramento", cursive;
}

.final {
  color: #522800;
  text-decoration: none;
  font-family: "Sacramento", cursive;
}

.final:hover {
  text-decoration: underline;
  font-family: "Sacramento", cursive;
}
